@charset "UTF-8"

/*特に指定されている訳ではないが、住所検索コンテンツが見やすいよう常に画面中央に配置*/
.main-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}